
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

        <!-- Display success message -->
    <% if (success_msg.length > 0) { %>
        <div class="alert alert-success">
            <%= success_msg %>
        </div>
    <% } %>

    <!-- Display error message -->
    <% if (error_msg.length > 0) { %>
        <div class="alert alert-danger">
            <%= error_msg %>
        </div>
    <% } %>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>About Us</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <span>About Us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- About Section Begin -->
    <section class="about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about__pic">
                        <img src="img/about/about-us.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="about__item">
                        <h4>About Us</h4>
                        <p> Welcome to MFbyForesythebrand! —where vibrant African heritage meets modern flair! Inspired by my grandmother's rich ankara fashion sense, we weave rich cultural narratives into every piece. Our collections celebrate the diversity of Afrocentric fashion, blending authentic African fabrics and motifs with contemporary designs. From bold Ankara prints to Maasai beadwork necklaces and aso-oke wears, each item tells a story of identity and pride. Join us in embracing this colorful journey, where tradition and modernity unite to empower unique style.</p>
                        <h5 style="color: #2E8B57; font-weight: bold; margin-top: 10px;">"A love letter to Africa, written in fashion!"</h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="about__item">
                        <h4>What We Do ?</h4>
                        <p>At MFbyForesythebrand, we blend traditional African artistry with contemporary fashion to create unique, culturally rich pieces. Our offerings include: <br>Our offerings includes:<br>

<strong>Clothing Collections:</strong>  Featuring vibrant Ankara prints and modern silhouettes, our garments celebrate African heritage while catering to today's fashion-forward individuals..<br>

<strong>Accessories:</strong> Our range of Afrocentric accessories, such as Maasai beadwork necklaces and earrings, adds a touch of cultural elegance to any ensemble.<br>

<strong>Bags:</strong> Our collection of bags showcases traditional African textiles and patterns, offering both style and functionality.<br>


Each product is meticulously crafted to honor our rich heritage while embracing modern trends, allowing us to express our unique identity with confidence and style.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="about__item">
                        <h4>Why Choose MFbyForesythebrand</h4>
                        <p>
    <strong>We blend rich African heritage with contemporary fashion, and we stand for</strong>                         
                            
✅ Authentic Craftsmanship: We draw inspiration from traditional African fabrics and materials, ensuring each product reflects the unique nuances of our culture, society, and heritage. Our passion is evident in our meticulous attention to detail, stitching, and seams, aiming for perfection in every creation.
<br>
<ul>
    <li>✅ Customer Satisfaction: Our commitment to excellence is reflected in the positive feedback from our clientele.</li>
     <li>✅  Community Engagement: We value our customers and love showcasing how they style our pieces. Our "Customer Appreciation Tuesday" highlights clients like @gistwithkemz, who beautifully rocked our ENIOLA tote handbag.
     </li>
     
</ul>
 .<br>

By choosing MFbyForesythe, you're not just purchasing a product; you're joining a community that celebrates cultural pride, quality craftsmanship, and authentic self-expression.
</p>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="testimonial__text">
                        <span class="icon_quotations"></span>
                        <p>Step into the spotlight with Ankara sunglasses that radiate cultural flair and modern chic. These vibrant accessories not only shield your eyes but also turn heads, making every glance a celebration of African artistry and bold fashion. Embrace the sun with a touch of tradition and a whole lot of style!
                        </p>
                        <div class="testimonial__author">
                            <div class="testimonial__author__pic">
                               
                            </div>
                            <div class="testimonial__author__text">
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->

    <!-- Counter Section Begin -->
    <section class="counter spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item">
                        <div class="counter__item__number">
                            <h2 class="cn_num">102</h2>
                        </div>
                        <span>Our <br />Clients</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item">
                        <div class="counter__item__number">
                            <h2 class="cn_num">30</h2>
                        </div>
                        <span>Total <br />Categories</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item">
                        <div class="counter__item__number">
                            <h2 class="cn_num">102</h2>
                        </div>
                        <span>In <br />Country</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item">
                        <div class="counter__item__number">
                            <h2 class="cn_num">98</h2>
                            <strong>%</strong>
                        </div>
                        <span>Happy <br />Customer</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter Section End -->

    <!-- Team Section Begin -->
    <section class="team spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Founder</span>
                        <h2></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team__item">
                        <img src="img/mof.jpg" alt="">
                        <h4>Mo Foresythe</h4>
                        <span></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team__item">
                       
                        <p>Founders Story: Some dreams are planted in childhood, long before we understand their purpose. For me, fashion was a way of life.
I grew up surrounded by strong, entrepreneurial women—my grandmother, mother, and aunt—each shaping my love for fabrics and design. My grandmother was bold and stylish, always ahead of trends. My mother sold fabrics, teaching me their textures and origins, while my aunt’s fashion house brought stunning creations to life.
Watching fabric transform into art ignited my creativity. I redesigned my own clothes, experimenting fearlessly—without realizing I was crafting the foundation of MFbyForesythe.</p>
                        <span></span>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
    <!-- Team Section End -->

    
