<div style="margin-bottom:150px" class="container mt-5">
    <form action="/reset-password" method="POST" class="card p-4 shadow-sm">
        <h3 class="mb-4">Reset Your Password</h3>

        <div class="mb-3">
            <label>Email</label>
            <input type="email" name="email" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Reset Password</button>
    </form>
</div>
