
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MFBYFORSYTHE | </title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="/text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
     <link rel="stylesheet" href="/css/form.css" type="text/css">
</head>
<body>
<div class="container-fluid">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Mfbyforsythe Dashboard</a>
  </nav>

  <!-- Jumbotron -->
  <div class="jumbotron mt-4">
    <h1 class="display-5">Manage Products</h1>
    <p class="lead">Edit or remove products from the catalog.</p>
  </div>

  <!-- Products Grid -->
  <div class="container">
    <div class="row">
      {% for product in products %}
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card text-center shadow-sm">
          <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">£{{ product.price }}</p>
            <a href="/management/products/edit/{{ product.id }}" class="btn btn-warning btn-sm">Edit</a>
            <a href="/management/products/delete/{{ product.id }}" class="btn btn-danger btn-sm">Delete</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>