<div style="margin-bottom:150px" class="container mt-5">
    <div class="alert alert-success">Your email has been verified successfully. You can now log in.</div>
    <form action="/login" method="POST" class="card p-4 shadow-sm">
        <h3 class="mb-4">Login</h3>
        <div class="mb-3">  
            <label>Email</label>
            <input type="email" name="email" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Password</label>
            <input type="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
</div>u